.first__section {
    position: relative;
    padding: 9rem 0 5rem 0;
    &--title {
      text-align: center;
      margin-left: -8rem;
    }
    &--paraphrad {
      margin-left: -5rem;
      justify-content: center;
    }
  }
  