.parques_contenido__imagenes {
    position: relative;
    display: flex;
    flex-direction: column;

    &--imagen {
        width: 70%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: relative;
        transition: all .2s;
        outline-offset: 2rem;
        //opacity: .8;
        border-radius: 2rem;
    // @include respond(tab-port) {
    //     width: 90%;
    // }


        &--p1 {
            margin-left: -10rem;
            margin-top: -5rem;
            
    //       @include respond(tab-port) {
    //       left: -30rem;
    //        top: -10rem;
    //     }
        }

        &--p2 {
            margin-top: -5rem; 
            margin-left: 20rem;

        // @include respond(tab-port) {
        //     left: -30rem;
        //     top: 10rem;
        // }
        }

        &--p3 {
            margin-left: -12rem;
            margin-top: -5rem;
            
        // @include respond(tab-land)  {
        //     max-width: 70%;
        //     left: -8rem;
        //     top: 12rem; 
        // }
        // @include respond(tab-port) {
        //     left: -8rem;
        //     top: -15rem;
        // }
        }

        &--p4 {
            margin-top: -5rem; 
            margin-left: 15rem;
        // @include respond(tab-port) {
        //     left: -10rem;
        //     top: 0rem;
        // }
        }

        &--p5 {
            margin-left: -10rem;
            margin-top: 0rem; 
        // @include respond(tab-port) {
        //     left: 8rem;
        //     top: -60rem;
        // }
        }

        &--p6 {
            margin-top: -5rem; 
            margin-left: 22rem;
         // @include respond(tab-land)  {
         //     max-width: 80%;
         //     right: -2rem;
         //     top: 9rem;
         //     z-index: 20;
         // }
         // @include respond(tab-port) {
         //     left: 10rem;
         //     top: -45rem;
         // }
        }

        &--p7 {
            margin-left: -8rem;
            margin-top: -3rem; 
            // @include respond(tab-port) {
            //     left: 25rem;
            //     top: -70rem;
            // }
        }

        &--p8 {
            margin-top: -5rem; 
            margin-left: 20rem;
            // @include respond(tab-land)  {
            //     max-width: 90%;
            //     left: -1rem;  
            // }
            // @include respond(tab-port) {
            //     left: 28rem;
            //     top: -50rem;
            // }
        }                  

        &:hover {
            transform: scale(1.2) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 1);
            z-index: 5;
            opacity: 1;
            // @include respond(tab-port) {
            //      transform: scale(1.1) translateY(-1rem);            
            // }

        }

        &--texto{
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            margin-top: -20%;
            padding: .5rem;
            width: 70%;
            font-weight: 700;
            color: white;
            background-color: rgba($color-menu, 0.9);
            border-radius: 0;
            transition: none;

    //       @include respond(tab-port) {
    //          width: 90%;
    //       }

            &:hover{
                transform:none;
                box-shadow: none;
                opacity: 1;
            }
        }
    }
}



