.favourites__list{
   display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &--bar{
        & > div {
            & > * {
                font-size: 2rem;
                font-family: "Didot", serif;
                max-width: 28rem;
            }
        }
    }
    
    &--component{
        padding-top:10rem;
        padding-bottom: 10rem;
        overflow-y: 'scroll';
        position: 'relative';
       
      &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
  
      &::-webkit-scrollbar-track-piece {
        background: white;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-thumb {
       background: linear-gradient(45deg, #8f7379 30%, #FF8E53 90%);
        border-radius: 10px;
      }
    }


   }

  
