.section__allTransports {
    height: 50rem;
    & h1 {
      text-align: center;
      text-decoration: underline overline;
      text-shadow: 4px 4px 5px rgba(82, 82, 82, 0.842);
      letter-spacing: 1vw;
      transform: translateY(-7vh) skewX(-15deg) rotateZ(2.7deg);
    }
  
    & h4 {
      position: relative;
      margin: 5vw;
      transform: translateY(-42vh) rotateX(-60deg);
      z-index: -1;
    }
  
    &_bus {
      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
      height: 70vh;
      position: relative;
      &--img img {
        float: right;
        width: 70rem;
        height: 50vh;
        margin-right: 5rem;
      }
  
      &:hover {
        transition: ease-in-out;
        animation-name: moveIcons;
        animation-duration: 4s;
      }
    }
  }