.visible {
  height: 80vh;
  background-image: linear-gradient(
    to right ,
    rgba(92, 92, 92),
    rgb(255, 255, 255),
    rgba(92, 92, 92)
  );

  &--h2 {
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-shadow: 4px 4px 6px rgb(65, 65, 65);
  }

  &__content {
    display: flex;
    justify-content: space-evenly;

    &-paragraphs {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      &--p{
          text-align: justify;
      }

      &--changes{
          display: flex;
          justify-content: space-evenly;
      }
    }

    &-bono {
      position: relative;
      display: flex;
      &--names {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 6rem;
        margin-left: 1.5rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        width: 32%;
        height: 40%;
        font-weight: bold;
      }
      & > img {
        border-radius: 10px;
      }
      &--holder {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -0.1rem;
        margin-top: 0.75rem;
        width: 95px;
        height: 115px;
      }
    }
  }
}

.hidden {
  height: 0vh;
  overflow: hidden;
  & > * {
    visibility: hidden;
  }
}
