.resTextbox {
    display: flex;
    margin: 5rem;
    padding: 1rem;
    background-color: aquamarine; // TEST
    min-height: 10vh; // TEST

    &__text {
        flex-grow: 1;
        display: flex;
        background-color: rgb(58, 67, 196); // TEST
    }

    &__img {
        flex-grow: 1;
        background-color: brown;
    }
}