.second__section{
  background: linear-gradient(
    rgba(107, 105, 105, 0.7),
    rgba(197, 179, 179, 0.7)
  ),url("../../Recursos/img/fondo-cine.jpg");

  background-color: #766E65;
  background-size: cover;
    width: 100%;
    padding: 7rem 0 20rem 0;

    &--title {
        // background: url("../../Recursos/img/rosa.gif");
        background-color: black;
        background-position: bottom;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 3rem;
        font-family: "Fira Sans", sans-serif;
        // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        padding-bottom: 15vh;
        letter-spacing: 1;
      }
    
}