.second__section{
    background-color: #766E65;
    width: 100%;
    padding: 6rem 0 15rem 0;

    &--title {
        background: url("../../Recursos/img/rosa.gif");
        background-position: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 40px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        padding-top: 15vh;
        padding-bottom: 15vh;
      }
    
}