*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Fira Sans", sans-serif;
    // font-size: 2rem;
}

.visita {
    &__body {
    background-color: #f5f5f5;
    font-size: 2rem;
    }

    &__box {
        // background-color: green; // TEST
        height: 70vh; // TEST
        margin: 3rem 5rem;
        display: flex;
        flex-direction: column;
    }
}