.btn__subir {
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    z-index: 20;
    padding: 13px;
    margin: 30px 25px;
    right: 0;
    bottom: 0;
    margin-bottom: 4.2%;
    transition: all 0.5s;
  
    & img {
      height: 35px;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  
    &:before {
      position: absolute;
      content: "";
      border-top: 5px solid lighten(red, 5%);
      border-left: 5px solid lighten(red, 5%);
      border-right: 5px solid darken(red, 5%);
      border-bottom: 5px solid darken(red, 5%);
  
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      transition: 0.5s;
    }
    &:hover {
      box-shadow: 7px 7px darken(red, 20%), -7px -7px lighten(red, 20%);
      cursor: pointer;
      transform: rotateZ(360deg);
      &::before {
        border: 0px;
      }
    }
  }
  