.fourth__section {
    position: relative;
    width: 93vw;
    height: 115vh;
    // background-color: rgb(190, 187, 187);
    background-image: url("../../Recursos/img/mapaverdemadrid.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
  
    &--title {
      position: relative; 
      background: url("../../Recursos/img/RUTAS.png");
      background-position: bottom;
      background-position: center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 35px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      transform: translateY(-10vh);
    }
  
    &--1 {
      left: 40vw;
      top: 50vh;
    }
  
    &--2 {
      top: 20vh;
      left: 20vw;
    }
  
    &--4 {
      top: 80vh;
    }
  
    &--text {
      font-family: "Times New Roman", Times, serif;
      &--1 {
        width: 13vw;
        transform: translateY(64vh);
        margin-left: 27vw;
      }
  
      &--2 {
        transform: translateY(39vh);
        margin-left: -10vw;
      }
  
      &--3 {
        transform: translateY(24.7vh);
      }
      &--4 {
        transform: translateY(95vh);
      }
    }
    img {
      width: 18%;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
      border-radius: 5px;
      position: absolute;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 2rem;
  
      @media (max-width:900px) {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
      }
  
      &:hover {
        outline: 1.5rem solid #ffffff;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
        z-index: 20;
      }
    }
    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
  