.visita__content__table {
    background-color: azure;
    width: 70%;
    display: flex;
    align-self: center;

    &--smallColumn {
        background-color: red;
    }
    
    &--bigColumn {
        background-color: blue;
        min-width: 25rem;
    }

    
    & table {
        flex-basis: 100%;
        border-collapse: collapse;

        & tr {
            border: 1px solid black;

            & > * {
                padding: 1rem;
            }
        }

        & th, td {
            //border: 1px solid black;
            // background-color: red;
        }
        & th {
            text-align: left;
        }
        & th:not(:last-of-type) {
            // background-color: blue;
        }
    }


    &--buttons {
        float: right;
        
        & button {
            margin: 0 0.5rem;
        }
    }
}