.visita__content__table {
    background-color: azure;
    width: 80%;
    align-self: center;
    display: flex;
    
    & table {
        flex-basis: 100%;
        border-collapse: collapse;

        & tr {
            border: 1px solid black;

            & > * {
                padding: 1rem;
            }
        }

        & th, td {
            //border: 1px solid black;
        }
        & th {
            text-align: left;
        }
    }

    &--buttons {
        float: right;
        
        & button {
            margin: 0 0.5rem;
        }
    }
}