.popup_transportes {
  width: 80vw;
  height: 35vw;
  background-color: brown;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;

  &--btn{
      position: absolute;
      right: 0;
      margin: 1rem 1rem 0 0;
      color: rgb(0, 0, 3);
  }

  &--img {
    margin: 5%;
    width: 40%;
    position: relative;
  }

  &-aside {
      display: flex;
      flex-direction: column;

    &--h1{
        text-align: center;
        padding-top: 1.5rem;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url("../../../Recursos/img/fondopopup.gif");
        background-position: bottom;
    }

    &--text {
      margin: 5%;
      overflow-y: scroll;
      position: relative;

      &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }

      &::-webkit-scrollbar-track-piece {
        background: #aaa;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #7a7a7a;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-corner {
        background: #999;
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background: #888;
      }

      &-p {
        padding: 0 2rem;
        text-align: justify;
      }
    }
  }
}
